.zoom-btn {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.zoom-in {
  animation: zoomIn 0.3s forwards;
}

.zoom-out {
  animation: zoomOut 0.3s forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}
